## The dangers of having too many features 

Here we will explore using random data, who more features isnt necessarily better.

In [1]:
import pandas as pd
import numpy as np

Lets use 4000 samples and 4 features to start

In [2]:
r = np.random.RandomState(42)

num_samples = 4000
num_features = 4

df = pd.DataFrame(r.randint(-1000, 1000,size=(num_samples, num_features)))

y = pd.DataFrame(r.randint(0, 2,size=(num_samples, 1)), columns=list('y'))

df.head()

     0    1    2    3
0  126  459 -140  294
1  130   95  724   44
2  638 -879 -534  238
3 -670  482 -913  396
4  123 -129  687 -870

In [7]:
y.head()

   y
0  1
1  0
2  0
3  0
4  0

In [8]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

y = y.values
X = df.values

# Fit regression model
regr_1 = DecisionTreeClassifier(max_depth=4)

regr_1.fit(X, y)

# Predict
y_1 = regr_1.predict(X)

print(classification_report(y, y_1))

             precision    recall  f1-score   support

          0       0.65      0.08      0.14      1953
          1       0.52      0.96      0.68      2047

avg / total       0.59      0.53      0.42      4000

The model does not preform that well

## Increase to 40 Features 

Lets increase the features to 40. Now these arent real features, infact, they are just more random data.

In [9]:
r = np.random.RandomState(42)

num_samples = 4000
num_features = 40

df = pd.DataFrame(r.randint(-1000, 1000,size=(num_samples, num_features)))

X = df.values

df.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,126,459,-140,294,130,95,724,44,638,-879,...,-724,184,-541,337,-979,-748,-253,-144,584,-526
1,82,-490,705,499,-301,-25,806,-811,-43,-314,...,-224,369,-436,-103,363,-909,390,-45,478,451
2,-492,-225,966,-966,-795,104,955,585,895,411,...,-545,485,750,275,16,725,-705,748,-281,772
3,-663,-122,76,-209,945,-784,-237,-813,-621,-508,...,-622,796,513,-770,17,-960,51,-866,-800,863
4,-221,-71,56,71,-498,-594,597,751,-196,-902,...,38,881,577,-109,484,714,598,-137,-258,264

In [10]:
# Fit regression model
regr_1 = DecisionTreeClassifier(max_depth=4)

regr_1.fit(X, y)

# Predict
y_1 = regr_1.predict(X)

print(classification_report(y, y_1))

             precision    recall  f1-score   support

          0       0.55      0.45      0.49      1953
          1       0.55      0.66      0.60      2047

avg / total       0.55      0.55      0.55      4000

Look at that, the F1 score went up. 

## Increase to 400 features

In [11]:
r = np.random.RandomState(42)

num_samples = 4000
num_features = 400

df = pd.DataFrame(r.randint(-1000, 1000,size=(num_samples, num_features)))

X = df.values

# Fit regression model
regr_1 = DecisionTreeClassifier(max_depth=4)

regr_1.fit(X, y)

# Predict
y_1 = regr_1.predict(X)

print(classification_report(y, y_1))

             precision    recall  f1-score   support

          0       0.55      0.70      0.62      1953
          1       0.62      0.46      0.53      2047

avg / total       0.59      0.58      0.57      4000

Even more F1! 

## Increase to 4,000 features

In [12]:
r = np.random.RandomState(42)

num_samples = 4000
num_features = 4000

df = pd.DataFrame(r.randint(-1000, 1000,size=(num_samples, num_features)))

X = df.values

# Fit regression model
regr_1 = DecisionTreeClassifier(max_depth=4)

regr_1.fit(X, y)

# Predict
y_1 = regr_1.predict(X)

print(classification_report(y, y_1))

             precision    recall  f1-score   support

          0       0.57      0.61      0.59      1953
          1       0.60      0.56      0.58      2047

avg / total       0.59      0.58      0.58      4000

F1 keeps going up. 

## Increase to 40,000

In [13]:
r = np.random.RandomState(42)

num_samples = 4000
num_features = 40000

df = pd.DataFrame(r.randint(-1000, 1000,size=(num_samples, num_features)))

X = df.values

# Fit regression model
regr_1 = DecisionTreeClassifier(max_depth=4)

regr_1.fit(X, y)

# Predict
y_1 = regr_1.predict(X)

print(classification_report(y, y_1))

             precision    recall  f1-score   support

          0       0.64      0.50      0.56      1953
          1       0.60      0.73      0.66      2047

avg / total       0.62      0.62      0.61      4000

A top score!